body {
  line-height: 1.5px;
}
.app-container {
  max-width: 600px;
  max-height: 400px;
  background: rgba(246, 203, 203, 0.6);
  border: 1px solid grey;
  border-radius: 8px;
  padding: 10px;
  margin: 40px auto;
}
.title {
  text-align: center;
  font-weight: 600;
  margin: 10px auto;
}
#select {
  display: block;
  width: 500px;
  margin: 20px 40px;
}
li {
  list-style: none;
}
